footer.footer
  .footer__inner
    .container
      .row
        .col-md-4
          .footer__column
            .footer__points
              .footer__points-name ул. Ложевая, 122 (ТЦ “Милан”)
              .footer__points-time
                span Вс-Чт 12:00 - 23:00
                span Пт-Сб 12:00 - 01:00
            .footer__points
              .footer__points-name ул. Советская, 10 (ТЦ “Куклы”)
              .footer__points-time
                span Вс-Чт 12:00 - 23:00
                span Пт-Сб 12:00 - 01:00
            .footer__points
              .footer__points-name Красноармейский проспект, 17А
              .footer__points-time
                span Вс-Чт 12:00 - 23:00
                span Пт-Сб 12:00 - 01:00
            .footer__points
              .footer__points-name ул. Демонстрации, 1А
              .footer__points-time
                span Круглосуточно
            .footer__points
              .footer__points-name ул. Октябрьская, 16
              .footer__points-time
                span Ежедневно 12:00-22:00

        .col-md-4
          .footer__column
            a(href="tel:").footer__phone
              include ../../img/header/customer-service-gr.svg
              .footer__phone-i 555-888

            .footer__list
              a(href="#").footer__link Наше меню
              a(href="#").footer__link Акции и скидки
              a(href="#").footer__link Забронировать стол
              a(href="#").footer__link Заказать банкет
              a(href="#").footer__link Посмотреть интерьеры
              a(href="#").footer__link Условия доставки и самовывоза
              a(href="#").footer__link Оплата

        .col-md-4
          .footer__column
            .footer__sotial
              a(href="#").footer__social-link.footer__social-link--instagram
                .footer__social-ico
              a(href="#").footer__social-link.footer__social-link--vk
                .footer__social-ico
              a(href="#").footer__social-link.footer__social-link--facebook
                .footer__social-ico
              a(href="#").footer__social-link.footer__social-link--youtube
                .footer__social-ico

            .footer__list
              a(href="#").footer__link Все для праздника
              a(href="#").footer__link Ребенок онлайн
              a(href="#").footer__link Оставить отзыв
              a(href="#").footer__link Стать франчайзи
              a(href="#").footer__link Календарь мероприятий
              a(href="#").footer__link Контакты
              a(href="#").footer__link Карта сайта





