header.header
  .header__inner
    .header__top
      .header__col
        a(href="/").header__logo
          img(src="./img/logo.png" width="204" height="30" alt="MaMa MiA logo").header__logo-i
      .header__col
        a(href="#").header__lunch-delivery
          img(src="" alt="ico").header__lunch-delivery-i
          .header__lunch-delivery-txt Доставка обедов
      .header__col
        a(href="#").header__lunch-delivery
          img(src="" alt="ico").header__lunch-delivery-i
          .header__lunch-delivery-txt 555-888
      .header__col
        a(href="#").header__lunch-delivery
          img(src="" alt="ico").header__lunch-delivery-i
          .header__lunch-delivery-txt Любимые блюда
      .header__col
        a(href="#").header__lunch-delivery
          img(src="" alt="ico").header__lunch-delivery-i
          .header__lunch-delivery-txt Вход/Регистрация
    .header__bottom
      .header__menu-btn
        a(href="#").header__menu-btn-i#menu-btn
      .header__menu-list
        .header__menu-item
          a(href="#").header__menu-link Японское меню
        .header__menu-item
          a(href="#").header__menu-link Пекарня
        .header__menu-item
          a(href="#").header__menu-link Пицца
        .header__menu-item
          a(href="#").header__menu-link Горячее
        .header__menu-item
          a(href="#").header__menu-link Салаты
        .header__menu-item
          a(href="#").header__menu-link Супы
        .header__menu-item
          a(href="#").header__menu-link Паста
        .header__menu-item
          a(href="#").header__menu-link Закуски
        .header__menu-item
          a(href="#").header__menu-link Гарниры
        .header__menu-item
          a(href="#").header__menu-link Десерты
        .header__menu-item
          a(href="#").header__menu-link Для детей
        .header__menu-item
          a(href="#").header__menu-link Напитки
        .header__menu-item
          a(href="#").header__menu-link Банкетные
      .header__basket
        .header__basket-btn
          .header__basket-txt Корзина
          .header__basket-ico
            img(src="" alt="ico").header__basket-ico-i

      .header__main-menu
        .nav
          .nav-item






