header.header
  .header__inner
    .header__top
      .header__col
        a(href="/").header__logo
          img(src="./img/logo.png" width="204" height="30" alt="MaMa MiA logo").header__logo-i
      .header__col
        a(href="#").header__lunch-delivery
          img(src="" alt="ico").header__lunch-delivery-i
          .header__lunch-delivery-txt Доставка обедов
      .header__col
        a(href="#").header__lunch-delivery
          img(src="" alt="ico").header__lunch-delivery-i
          .header__lunch-delivery-txt 555-888
      .header__col
        a(href="#").header__lunch-delivery
          img(src="" alt="ico").header__lunch-delivery-i
          .header__lunch-delivery-txt Любимые блюда
      .header__col
        a(href="#").header__lunch-delivery
          img(src="" alt="ico").header__lunch-delivery-i
          .header__lunch-delivery-txt Вход/Регистрация
    .header__bottom