extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "homepage loadpage";
  - var pageActive = "homepage";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    <picture>
      <source srcset="./img/awesomeWebPImage.webp" type="image/webp">
      <source srcset="./img/creakyOldJPEG.jpg" type="image/jpeg">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Alt Text!">
    </picture>

  div.main-wrap
    .top-bunner
      .top-bunner__inner
        .top-bunner__list#top-bunner-slider
          .top-bunner__item
            a(href="#").top-bunner__content
              .top-bunner__img
                img(src="../img/home/milan.jpg" width="1220" height="410" alt="img")
              //.top-bunner__title
              //  .top-bunner__title--txt Ресторан
              //  .top-bunner__title--img
              //    img(src="" alt="img")
              //.top-bunner__caption ТЦ "Милан" улю Ложевая, 122
              //.top-bunner__exchange
              //  span вс-чт 12:00 - 23:00
              //  span пт-сб 12:00 - 01:00
              //.top-bunner__btn
              //  a(href="#").top-bunner__btn-i
              //    span забронировать стол

    .categories
      .categories__inner
        .categories__title Заказ еды круглосуточно
        .container
          .row
            .col-6.col-md-4.col-lg-3
              a(href="#").categories__item
                .categories__img
                  img(src="./img/home/p-1.png" width="285" height="285" alt="categories image").categories__img-i
                .categories__name
                  span Японское меню
            .col-6.col-md-4.col-lg-3
              a(href="#").categories__item
                .categories__img
                  img(src="./img/home/p-2.png" width="285" height="285" alt="categories image").categories__img-i
                .categories__name
                  span Пекарня
            .col-6.col-md-4.col-lg-3
              a(href="#").categories__item
                .categories__img
                  img(src="./img/home/p-3.png" width="285" height="285" alt="categories image").categories__img-i
                .categories__name
                  span Пицца
            .col-6.col-md-4.col-lg-3
              a(href="#").categories__item
                .categories__img
                  img(src="./img/home/p-4.png" width="285" height="285" alt="categories image").categories__img-i
                .categories__name
                  span Горячее
            .col-6.col-md-4.col-lg-3
              a(href="#").categories__item
                .categories__img
                  img(src="./img/home/p-5.png" width="285" height="285" alt="categories image").categories__img-i
                .categories__name
                  span Салаты
            .col-6.col-md-4.col-lg-3
              a(href="#").categories__item
                .categories__img
                  img(src="./img/home/p-6.png" width="285" height="285" alt="categories image").categories__img-i
                .categories__name
                  span Супы
            .col-6.col-md-4.col-lg-3
              a(href="#").categories__item
                .categories__img
                  img(src="./img/home/p-7.png" width="285" height="285" alt="categories image").categories__img-i
                .categories__name
                  span Паста
            .col-6.col-md-4.col-lg-3
              a(href="#").categories__item
                .categories__img
                  img(src="./img/home/p-8.png" width="285" height="285" alt="categories image").categories__img-i
                .categories__name
                  span Закуски
            .col-6.col-md-4.col-lg-3
              a(href="#").categories__item
                .categories__img
                  img(src="./img/home/p-9.png" width="285" height="285" alt="categories image").categories__img-i
                .categories__name
                  span Гарниры
            .col-6.col-md-4.col-lg-3
              a(href="#").categories__item
                .categories__img
                  img(src="./img/home/p-10.png" width="285" height="285" alt="categories image").categories__img-i
                .categories__name
                  span Десерты
            .col-6.col-md-4.col-lg-3
              a(href="#").categories__item
                .categories__img
                  img(src="./img/home/p-11.png" width="285" height="285" alt="categories image").categories__img-i
                .categories__name
                  span Для детей
            .col-6.col-md-4.col-lg-3
              a(href="#").categories__item
                .categories__img
                  img(src="./img/home/p-12.png" width="285" height="285" alt="categories image").categories__img-i
                .categories__name
                  span Напитки


    .info-block
      .info-block__inner
        .container
          .row
            .col-md-6
              .info-block__item
                .info-block__title О доставке еды на дом и в офис
                .info-block__txt.
                  Мы оперативно доставим заказ в офис, на дом либо другое, указанное Вами место, точно в оговоренное время. Холодные и горячие блюда доставляются в удобных ланч боксах.
            .col-md-6
              .info-block__item
                .info-block__title Привезем еду (обед) домой в Туле
                .info-block__txt.
                  Если Вы не знаете, что приготовить или Вам просто не хочется стоять у плиты, заходите на наш сайт, и закажите самую вкусную еду для своей семьи либо гостей с доставкой на дом по Туле и области. Мы принимаем заказы круглосуточно (24/7).
            .col-md-6
              .info-block__item
                .info-block__title Обеспечим обедом офисных работников
                .info-block__txt.
                  Мы быстро доставим в Ваш офис свежую и вкусную еду по доступной цене. Для ее приготовления мы используем только натуральные продукты самого высокого качества. Здоровое питание Ваших сотрудников — залог успешной работы предприятия.
            .col-md-6
              .info-block__item
                .info-block__title Доставляем блюда для торжественных мероприятий
                .info-block__txt.
                  На нашем сайте можно заказать еду в Туле для свадьбы, дня рождения, банкета и других торжеств, либо обычный бизнес ланч. Мы гарантируем своевременную подачу блюд вне зависимости от объема заказа.

            .col-md-6
              .info-block__item.info-block__item--offers
                a(href="#").info-block__item--offers-i
                  img(src="./img/home/offers-1.png" width="580" height="104" alt="img")
            .col-md-6
              .info-block__item.info-block__item--offers
                a(href="#").info-block__item--offers-i
                  img(src="./img/home/offers-2.png" width="580" height="104" alt="img")

            .col-md-4
              .info-block__item.info-block__item--b-offers
                a(href="#").info-block__item--b-offers-i
                  img(src="./img/home/b-offers-1.png" width="372" height="486" alt="img")
            .col-md-4
              .info-block__item.info-block__item--b-offers
                a(href="#").info-block__item--b-offers-i
                  img(src="./img/home/b-offers-2.png" width="372" height="486" alt="img")
            .col-md-4
              .info-block__item.info-block__item--b-offers
                a(href="#").info-block__item--b-offers-i
                  img(src="./img/home/b-offers-3.png" width="372" height="486" alt="img")

