extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "homepage loadpage";
  - var pageActive = "homepage";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    <picture>
      <source srcset="./img/awesomeWebPImage.webp" type="image/webp">
      <source srcset="./img/creakyOldJPEG.jpg" type="image/jpeg">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Alt Text!">
    </picture>

  div.main-wrap
    .top-bunner
      .top-bunner__inner
        .top-bunner__list#top-bunner-slider
          .top-bunner__item
            .top-bunner__content
              .top-bunner__img
                img(src="" width="1220" height="410" alt="img" )
              .top-bunner__title
                .top-bunner__title--txt Ресторан
                .top-bunner__title--img
                  img(src="" alt="img")
              .top-bunner__caption ТЦ "Милан" улю Ложевая, 122
              .top-bunner__exchange
                span вс-чт 12:00 - 23:00
                span пт-сб 12:00 - 01:00
              .top-bunner__btn
                a(href="#").top-bunner__btn-i
                  span забронировать стол

    .categories
      .categories__inner
        .categories__title Заказ еды круглосуточно
        .container
          .row
            .col-6.col-md-4.col-lg-3
              .categories__item
                .categories__img

